/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Open+Sans&display=swap');

h2 {
    font-size: 2.5rem;
}

h1,
h3,
h4 {
    color: #855252;
}
/* gave the image height and padding */
#main-img{
    height: 630px;
    padding-top: 110px;
}
/* Structural CSS */

.text-left {
    text-align: left;
}
/* change padding 0 to 3% */
body {
    padding: 3%;
    margin: 0%;
    font-family: 'Courier Prime', mono;
    font-size: 1.3rem;
}

h3 {
    font-size: 1.5rem;
}
/* changed the width from 100% to 49% so the float from git ".left-column" and ".right-column" could be applied */
.col-50 {
    width: 49%;
    
}

.left-column {
    float: left;
}

.right-column {
    float: right;
}

.w100 {
    width: 100%;
}
/* typo fix padng: to padding: */
.section {
    padding: 10px
}

.mt-5 {
    margin-top: 5rem;
}

/* Navigation */

#nav {
    font-size: 1.5rem;
    height: 40px;
}

.nav-list-wrapper {
    position: relative;
}

#nav a:hover {
    text-decoration: underline;
}

/* Header */
#header h1 {
    font-size: 3rem
}

#header p {
    font-size: 1.5rem;
}

/* fix #about #contact{ typo background property to background-color and gave it a color value of grey "note that the value for the background-color property was empty so i picked grey "*/
#about,
#contact {
    clear: both;
    background-color: rgb(58, 150, 118);
    color: white;
    font-weight: normal;
    padding-bottom: 1rem;
}

#list {
    margin-left: 30px;
}

th,
td {
    border-bottom: 1%;
    padding: 10px;
}

table {
    margin-left: 30px;
}
/* fix typo labl to label */
label {
    display: block;
    margin-top: 20px;
    font-weight: normal;
    font-size: 1.2rem;
}
/* fix typo iput to input and heiht to height*/
input {
    height: 30px;
    width: 300px;
    margin-top: 10px;
    font-size: 1.2rem;
}


#nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
/* fix typo color:bl to blue */
#nav a {
    text-decoration: none;
    color: blue
}

#contact i {
    font-size: xx-large
}

#contact ul {
    padding: 0;
}

#contact li {
    display: inline-block;
    list-style-type: none;
    margin: 2rem;
}

#contact a {
    color: white;
}

#contact a:hover {
    color: rgb(3, 87, 184);
}

#nav #logo {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/* Media queries */

/* resized height and padding for mobile view */
@media screen and (max-width: 980px) {
    #main-img{
        height: 370px;
        padding-top: 0;
    }

/* resized margin for mobile view */
    .right-column {
        margin-top: 1%;
    }

    .col-50 {
        width: 100%;
        
    }

    
/* fix typo textt-align to text-align */
    #nav li {
        clear: both;
        float: left;
        text-align: left;
        display: block;
    }

    #nav {
        height: 120px;
    }

    #right-column {
        margin-bottom: 100px;
    }

    .about {
        padding-right: 25px;
        padding-left: 25px;
    }

    #list {
        margin: 0;
    }
}

.text-center {
    text-align: center;
}

button {
    height: 50px;
    width: 100px;
    margin: 30px auto;
    font-size: 1.2rem;
    background-color: green;
    color: white;
    border: 2px solid black;
    border-radius: 50%;
}